@import 'bulma';

.main-nav {
	display: flex;
	justify-content: space-between;
	width: 675px;
	margin: 20px auto;
	a {
		color: #198EF8;

	}
}

.container {
	width: 900px;
	margin: 50px auto;
	text-align: center;
}

.img-list {
	width: 900px;
	padding-left: 40px;
	margin: 10px auto;
	max-height: auto;
}
.posts {

	.homeimage {
	    height: 250px;
	    display: block;
	    width: 250px;
			background-size: cover;
		  -webkit-box-shadow: 1px 1px 1px #111;
		  box-shadow: 1px 1px 1px #111;

	}
  float: left;
  height: 220px;
  width: 220px;
  margin: 7px;
  overflow: hidden;
	position: relative;

	.imagetitles {
		font-weight: bold;
		display: none;
		position: absolute;
		margin: 3px 5px;
		color: white;
		background:rgba(0,0,0,0.5);
		text-align: center;
		top: 5px;
		left: 20px;
		padding: 2px;

	}

}



.title {
	text-align: center;
}

.home-content {
	margin-left: 50px;

}

.navlinks {
	margin: 5px;
	font-size: 18px;
	position: relative;
	top: -20px;
}

.likepic {

	width: 60px;
	height: 60px;
}

.likepic:hover {
	cursor: pointer;
}

.likescounthome {
	font-weight: bold;
}

.homeimage {
	max-height: 200px;
	max-width: 200px;

}

#overlay .text {
	position:relative;
	bottom:30px;
	left:0px;
	visibility:hidden;
}

#overlay:hover .text {
	color: white;
	visibility:visible;
	background:rgba(0,0,0,0.5);


}

.overlayfit {
	width: 200px;
	height: 125px;
	display: block;
	margin-left: 15px;

}

#overlay:hover .imagetitles {
	display:inline;
}


.smallheart {
	height: 15px;
	width: 15px;
	margin-bottom: -3px;
}

.logo {
	position: relative;
	top: -25px;

}

.inputwidth {
	width: 300px;

}

.textareak {
	width: 300px;
	height: 150px;
	padding: 5px;
}

.add-input {
	padding: 5px;
}

.inputform {
	margin-bottom: 10px;
}

.detail-card {
    width: 640px;
    border-radius: 5px;

    img {
        overflow: hidden;
        cursor: pointer;
				background-size: cover;
    }
}

.comments-list {
    text-align: left;
    li {
        list-style: none;
				width: 400px;
    }
}

.detailed-view-image {
    border-radius: 5px;
    .likes {
        height: 45px;
        width: 45px;
        position: relative;


        .likecount {
                font-size: 15px;
                position: absolute;
                bottom: 19px;
                left: 21px;
								text-align: center;
								color: #8384BF;
								font-family: 'Luckiest Guy', cursive;
								cursor: pointer;
        }
        img {
            margin: 5px;
            height: 45px;
            width: 45px;
        }
    }
}

.modal-content {
    border-radius: 5px;
}

.comment-input {
    height: 40px;
    width: 300px;
    padding: 5px;
}

.comment-input:focus {
    outline: none;
}

.comment-button {
    height: 40px;
    width: 40px;
    margin-left: -10px;
		background-color: #198EF8;
		color: white;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
}

.comment-date {
    font-size: 8px;
		display: block;
}

.anonymous {
    color: #198EF8;
}



.single-comment-list {
    margin: 15px 5px;
		position: relative;
		width: 600px;
		min-height: 32px;
		margin-right: 0px;
		margin-left: 25px;

		.delete-button {
		    float: right;
				position: absolute;
				right: -35px;
				top: 11px;
				background-color: #FF3D33;
				color: white;
				width: 40px;
				font-family: 'Nunito', sans-serif;

		}
}

.comment-text {
    text-align: right;
		min-height: 36px;
		width: 600px;
}

.image-title {
	color: #198EF8;
}

.remove-image-button {
	background-color: #FF3D33;
	color: white;
	font-family: 'Nunito', sans-serif;
}
