@import 'bulma';

.container {
	width: 900px;
	margin: 50px auto;
	text-align: center;
}

.posts {
    // height: 275px;
    // width: 275px;
    // margin: 0 15px 15px 0;
    // float: left;
    // overflow: auto;
    // border: 1px solid black;

  border: 10px solid #fff;  
  float: left;
  height: 250px;
  width: 250px;
  margin: 7px;
  overflow: hidden;
  
  -webkit-box-shadow: 1px 1px 1px #111;
          box-shadow: 1px 1px 1px #111;  
}



.title {
	text-align: center;
}

.home-content {
	margin-left: 50px;
	
}

.navlinks {
	margin: 5px;
	font-size: 18px;
	position: relative;
	top: -20px;
}

.likepic {

	width: 60px;
	height: 60px;
}

.likepic:hover {
	cursor: pointer;
}

.likecount {
	margin-left: -40px;
	position: relative;
	top: -25px;
}

.likescounthome {
	font-weight: bold;
}

.homeimage {
	max-height: 200px;
	max-width: 200px;

}


.homeimage {
    height: 125px;
    display: block;
    width: 200px;
    margin: 10px auto;
} 

#overlay .text {
	position:relative;
	bottom:30px;
	left:0px;
	visibility:hidden;
}

#overlay:hover .text {
	color: white;
	visibility:visible;
	background:rgba(0,0,0,0.5);


}

.overlayfit {
	width: 200px;
	height: 125px;
	display: block;
	margin-left: 15px;

}

.imagetitles {
	font-weight: bold;
}

.smallheart {
	height: 15px;
	width: 15px;
	margin-bottom: -3px;
}

.logo {
	position: relative;
	top: -25px;

}

.inputwidth {
	width: 300px;

}

.textareak {
	width: 300px;
	height: 150px;
}

.inputform {
	margin-bottom: 10px;
}
