
<div class="modal is-active">
  <div class="modal-background" ng-click="removeModal()"></div>
  <div class="modal-content">
    <div class="card detail-card">
      <div class="card-image detailed-view-image">
        <span class="likes">
          <img src="http://www.clipartbest.com/cliparts/RiG/y44/RiGy44jLT.png" alt="Image not found" class="likepic" ng-click="addLike(image)"/>
          <span class="likecount" ng-click="addLike(image)">{{ image.like_count }}</span>
        </span>
        <figure id="detail-image-container" class="image is-4by3 figure-image">
          <img id="detail-image" src="{{ image.url }}" alt="" ng-dblclick="addLike(image)">
        </figure>
        <small class ="detail-created-at">{{ image.created_at }}</small>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-5 image-title">{{ image.title }}</p>
          </div>
        </div>
        <div class="content">
          <p>{{ image.description }}</p>
          <div class="comments-section">
              <form ng-submit="addComment(message)">
  				  	    <input class="comment-input" type="text" placeholder="Add Comment..." ng-model="message"/></input>
  		           	<button class="button comment-button">+</button>
  		        </form>
              <ul class="comments-list">
                <li class='single-comment-list' ng-repeat="comment in comments">
                  <small class="comment-date"> {{ comment.created_at }} </small><strong class ='anonymous'>Anonymous</strong> said:
                  <span class='comment-text'> {{ comment.content }} </span>
                  <button class='button delete-button' type="button" name="button" ng-click="removeComment(comment)">x</button>
                </li>
              </ul>
          </div>
          <button class="button remove-image-button" ng-click="delete(image)">Remove Image</button>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close" ng-click="removeModal()"></button>
</div>
