<h1> Dope @$$ Images </h1>
<div class='home-content' ui-view>
<ul class="images img-list">

	<li ng-repeat="image in images">
	  <div class="posts tilt">
		<a href="#/detail/{{image.id}}">
		{{ image.title }}
	  <div id="overlay" class="overlayfit">
		<img ng-src="{{image.url}}" class="homeimage"/>
		<p class="text"> {{ image.like_count }} </p>
		{{ image.description }}
	  </div>
		</a>
		<p><span class="text-content likescounthome">Likes:</span> {{ image.like_count }}</p>
		
	  </div>

	</li>
</ul>


